a {
  text-decoration: none;
  border-bottom: 1px dashed var(--text-color);
  transition: color 0.2s;

  &:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
    border-bottom-style: solid;
  }
}

pre.shiki {
  overflow: auto;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  padding: 0.5rem;
  background-color: #e9e8ed;
  font-size: 0.9rem;

  :has(.highlighted) .line {
    opacity: 0.5;
    filter: grayscale(0.5) blur(1px);

    &.highlighted {
      opacity: 1;
      filter: grayscale(0) blur(0);
    }
  }
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}
th {
  font-weight: bold;
  font-size: 0.85rem;
}
th, td {
  padding: 0.5rem;
  border: 1px solid var(--border-color);
}

tr:nth-child(even) {
  background-color: var(--color-bg-tertiary);
}
