a {
  text-decoration: none;
  border-bottom: 1px dashed var(--text-color);
  transition: color 0.2s;

  &:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
    border-bottom-style: solid;
  }
}
