:root {
  --font-family: 'Open Sans', 'Arial', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-family-heading: 'Space Grotesk', 'Open Sans', 'Arial', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  //--text-color: #262528;
  --text-color: #160947;
  --base-color: #f1eef3;
  --border-color: #c0bac1;
  --accent-color: #4c07f8;
  --border-radius: 4px;
  --h1-font-size: 3rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;
  --h4-font-size: 1.25rem;
  --h5-font-size: 1.15rem;
  --h6-font-size: 1rem;
  --header-height: 48px;
}
